# Build directories
/bin/
/pkg/
/vendor/
/dist/
/build/

/payments-api/bin/
/payments-api/pkg/
/payments-api/vendor/
/payments-api/dist/
/payments-api/build/

# Test Binary
*.test

/payments-api/*.test

# Coverage
*.out

/payments-api/*.out

# env
.env
./payments-api/.env

# vscode
.vscode/

/payments-api/.vscode/