# Build directories
/bin/
/pkg/
/vendor/
/dist/
/build/

# Test Binary
*.test

# Coverage
*.out

# env
.env
./payments-api/.env

./payments-api//internal/core/service/transaction.go

# vscode
.vscode/